# Project exclude paths
/consumer/target/
/eurekaclient/target/
/eurekaserver/target/
/feign/target/
/hystrix2/target/
/nativeconfigclient/target/
/nativeconfigserver/target/
/resttemplate/target/
/ribbon/target/
/target/
/zuul/target/